/*Semantics*/

h1,h2,h3,h4,h5,h6,p,pre,code,blockquote,ul,ol,li,hr,body {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body {
    font-family:Helvetica, sans-serif;
}
a {
    color:inherit;
}
img, iframe {
    width:100%;
    border: none;
}

iframe {
    height:100%
}

 header {
    grid-area:header
}
 section {
    grid-area:section
}
 nav {
    grid-area:nav
}
aside {
    grid-area:aside
}
 main {
    grid-area:main
}
 footer {
    grid-area:footer
}
* {
    paint-order: stroke fill;
}
/* basic animations */

@keyframes bg-scroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}
/*class*/
.impact {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.pixel {
    image-rendering: pixelated;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.button {
    width:88px;
    height:31px;
}
.flex {
    display:flex;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}


/*font*/

@font-face {
    font-family:Impact;
    src: url();
}

