#discoparty {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: fixed;
    z-index: 999;
    opacity: 0.3;
    background-blend-mode: overlay;
    animation: danceparty 2.3077s infinite step-end;
}

::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar:horizontal {
    height: 17px
}

::-webkit-scrollbar-corner {
    background: #dfdfdf
}

::-webkit-scrollbar-track {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-thumb {
    z-index: 1000;
    background-color: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px gray, inset 2px 2px #dfdfdf
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
    display: block
}

::-webkit-scrollbar-button:vertical:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px
}

::-webkit-scrollbar-button:vertical:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px
}

::-webkit-scrollbar-button:horizontal:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px
}

::-webkit-scrollbar-button:horizontal:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px
}


@keyframes danceparty {
    0% {
        background-color: #c751df;
    }

    20% {
        background-color: #468aff;
    }

    40% {
        background-color: #ff8400;
    }

    60% {
        background-color: #f95cdc;
    }

    80% {
        background-color: #4dc398;
    }

    100% {
        background-color: #fff34a;
    }
}

body {
    background-color: #000000;
    background-image: url(../assets/bg/tt-black-mamba.png);
}

.tooltip {
    background-color: black;
    color: gold;
    width: 100px
}

.container {
    margin: 0px;
    color: white;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    z-index: 1;
    width: 800px;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1 !important;
    animation: 3s linear infinite reverse rotate;
    border: 5px solid transparent;
    grid-template-rows: 260px;
    background-color: #00000079;
    background-image: url(../assets/bg/tt-batthern.png)
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

header {
    position: relative;
    background-image: url(../assets/pg/home/header.png);
    background-size: 100%;
    background-position: 0px -80px;
}

h1 {
    position: absolute;
    -webkit-text-stroke: 3px black;
    text-shadow: 0px 0px 5px black;
    bottom: 0px;
    left: 20px;
    font-size: 50px;
    cursor: help;
}

.marcos {
    width: 200px;
    position: absolute;
    bottom: -200px;
    right: -120px;
    z-index: 9;
    transition: 1s
}

.marcos:hover {
    animation: wobble 2.4s ease-in-out;
    cursor: grab
}

.marcos:active {
    cursor: grabbing
}

@keyframes wobble {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: top;
    }

    10% {
        transform: rotate(-7deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(6deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(-3deg);
    }

    80% {
        transform: rotate(1deg);
    }

    90% {
        transform: rotate(0deg);
    }
}

main {
    display: grid;
    grid-template-areas: "nav nav"
        "aside section"
        "article article";
    grid-template-rows: 70px;
    grid-template-columns: 250px 550px;
}

nav ul {
    display: flex;
    gap: 5px
}

nav ul li {
    flex-grow: 1;
    list-style-type: none;
    transform: scaleY(1.5);
}

nav ul li button {
    width: 100%;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid black !important;
    color: white;
    -webkit-text-stroke: 2px black;
    background-image: linear-gradient(to top, #ffffff57, transparent);
    transition: 0.5s background-image, 0.5s color, 0.2s margin-top, 0.2s transform;
    margin-top: 0px
}

nav ul li button:hover {
    color: yellow;
    background-image: linear-gradient(to top, #ffffff87, transparent);
    margin-top: -7px;
    transform: scale(1.1)
}

.container:has(nav ul li:last-of-type button:hover) .marcos {
    opacity: 0.4;
    pointer-events: none;
    right: -150px
}

nav ul li:nth-child(1) button {
    background-color: #ff0077;
}

nav ul li:nth-child(2) button {
    background-color: #ff6200;
}

nav ul li:nth-child(3) button {
    background-color: #ffff00;
}

nav ul li:nth-child(4) button {
    background-color: #00ff00;
}

nav ul li:nth-child(5) button {
    background-color: #0000ff;
}

.warn-div {
    width: 100%;
    display: block;
}

aside .chet {
    width: 100%
}

#sponsor {
    width: 30%;
    margin-top: 5px;
    margin-left: 5px;
}

#sponsor img {
    margin-top: 30px;
    filter: drop-shadow(0px 0px 10px magenta);
}


#yap {
    width: 60%;
    margin-top: 15px;
    margin-left: 5px;
}

article img {
    height: 32px;
}

article iframe {
    width: 795px;
    height: 300px;
}

footer {
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, black);
    position: relative
}

#one,
#two {
    height: 200px;
    width: initial;
    position: absolute;
    bottom: 20px;
}

#one {
    left: 0px;
}

#two {
    right: 0px
}

.pkm,
.gp {
    width: inherit;
}

p {
    padding: 0px 200px;
}

.pkm {
    height: 50px
}

a:hover {
    color: yellow !important
}

a {
    color: inherit !important
}

#music {
    position: absolute;
    width: 400px;
    bottom: 0px;
    right: 0px;
    height: 500px;
    z-index: 9
}